parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    locale:            fr
    secret:            onyx
    dev_swiftmailer_delivery_address: florent.schildknecht@gmail.com
    dev:
        base_url: http://localhost/onyx/web
    mailer:
        from:
            name: Billeterie UTC
            email: noreply@utc.fr
        subjects:
            cas_authentication: Billeterie UTC - Inscription
            registration: Billeterie UTC - Inscription
    cas:
        base_url: https://cas.utc.fr/cas/
    ginger:
        api_key: fauxginger
        url: http://localhost/faux-ginger/index.php/v1/