{% extends 'PayutcOnyxBundle::base.html.twig' %}

{% form_theme form 'PayutcOnyxBundle:Form:bootstrap.html.twig' %}

{% block app_content %}
    <header id='event-detail-header' class='page-header'>
        <h1>{{ event.title }}</h1>
    </header>
    <h4>Réservation de billets</h4>
    <hr />
    <section>
        <form action='{{ path('pay_utc_onyx_ticket_book_check_page', { 'eventId': event.id }) }}' method='post' {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <div class='form-group'>
                <input type='submit' class='btn btn-success' name='submit' value='Réserver' />
            </div>
        </form>
    </section>
{% endblock %}