{% extends 'PayutcOnyxBundle::base.html.twig' %}

{% form_theme registrationForm 'PayutcOnyxBundle:Form:bootstrap.html.twig' %}

{% block app_content %}
	<header>
		<h3>Inscription libre</h3>
		<p>Pas encore de compte Onyx ? Remplissez le formulaire ci-dessous pour en créer un.</p>
	</header>
	<section class='row'>
		<form class='col-lg-6 col-sm-12' action='{{ path('pay_utc_onyx_registration_check_page') }}' method='post'>
			{{ form_widget(registrationForm) }}
			<div>
				<input type='submit' class='btn btn-success' name='submit' value='Inscription' />
			</div>
		</form>
	</section>
{% endblock %}