{% extends 'PayutcOnyxBundle::mail.html.twig' %}

{% block page_title %}Billeterie UTC - Inscription{% endblock %}

{% block app_content %}
	<p>
		Bonjour {{ firstname|title }} {{ name|title }},
		<br />
		vous venez de vous inscrire sur la billeterie de l'UTC.
	</p>
	<p>Vous pouvez dès à présent utiliser votre compte pour <a href='{{ path('pay_utc_onyx_home_page') }}' target='_blank'>réserver un évènement</a>, avec votre email et le mot de passe que vous avez choisi.</p>
	<p>En espérant vous voir très vite !</p>
{% endblock %}