{% extends 'PayutcOnyxBundle::mail.html.twig' %}

{% block page_title %}Billeterie UTC - Inscription{% endblock %}

{% block app_content %}
	<div class='jumbotron'>
		<h1>Bonjour {{ firstname|title }} {{ name|title }}</h1>
		<p class='lead'>Vous venez de vous inscrire sur la billeterie de l'UTC.</p>
	</div>
	<p>Pour utiliser votre compte, <a href='{{ url('pay_utc_onyx_user_email_validation_page', { 'encryptedId': encryptedId, 'encryptedToken': encryptedToken }) }}'>veuillez activer votre adresse e-mail en cliquant ici</a>.</p>
	<p>En espérant vous voir très vite !</p>
{% endblock %}