services:
  cas.security.authentication.listener:
    class:  Payutc\OnyxBundle\Security\Firewall\CasListener
    arguments: [@security.context, @security.authentication.manager]
  
  cas.security.authentication.provider:
    class:  Payutc\OnyxBundle\Security\Authentication\Provider\CasProvider
    arguments: ['', %kernel.cache_dir%/security/nonces, @doctrine.orm.entity_manager, @security.encoder_factory, %cas_url%, %ginger_url%, %ginger_key%, @payutc_admin.payutc_client]
